<h1>Bienvenides a FairShare</h1>

<%= link_to 'Crear un nuevo grupo', new_grupo_path, class: 'btn btn btn-primary' %>
<%= link_to 'Ver grupos', grupos_path, class: 'btn btn btn-primary' %>
<%= link_to 'Agregar nuevo usuario', new_usuario_path, class: 'btn btn btn-primary' %>
<%= link_to 'Ver usuarios', usuarios_path, class: 'btn btn btn-primary' %>
