/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .btn-cancel {
    display: inline-block;
    padding: 5px 12px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background-color: #e63030;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px #999;
  }

.btn btn-primary {
    display: inline-block;
    padding: 5px 12px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #cccccc;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px #858484;
  }


.alert {
    padding: 10px;
    background-color: #ff0000;
    color: #ffffff;
    font-weight: bold;
}

.notice {
  padding: 10px;
  background-color: #6ec57e;
  color: #000000;
  font-weight: bold;
}
  
  
